<!DOCTYPE html>
<html>
  <head>
    <title>RailsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  

  <body>
  
  <% flash.keys.each do |type| %>
    <strong><%= flash[type] %></strong>
    <br /><br />
  <% end %>

  <%= button_to 'Home', films_path, method: :get %>

  <%= button_to 'Log Out', logout_path, method: :delete %>

    <%= yield %>
  </body>
</html>
